.root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  height: 400px;
}

.infoCard {
  margin-top: 40px !important;
}

.headerText {
  font-size: 40px;
}

.lineGraph {
  margin-top: 100px;
}
