.root {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.cardHeader {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 10px;
}
